html
    head
        //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css") 
        //- link(rel="stylesheet", href="/styles/crform.css")
        //- link(rel="stylesheet", href="/styles/infomation.css")
        //- link(rel="stylesheet", href="/styles/interface.css")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Qu&#x1EA3;n L&iacute; H&#x1ECD;c Sinh
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
        link(rel="stylesheet", href="/styles/interface.css")
    body
        
        block content